@import "vars.less";

@font-face {font-family:@font;
  src: url('../../../fonts/iconfont.eot?t=1493707473188'); /* IE9*/
  src: url('../../../fonts/iconfont.eot?t=1493707473188#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../../../fonts/iconfont.woff?t=1493707473188') format('woff'), /* chrome, firefox */
  url('../../../fonts/iconfont.ttf?t=1493707473188') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../../../fonts/iconfont.svg?t=1493707473188#iconfont') format('svg'); /* iOS 4.1- */
}

.icon {
  font-family:@font !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-17:before { content: "\e600"; }

.icon-yinle:before { content: "\e6b5"; }

.icon-iconfont31:before { content: "\e70e"; }

.icon-zanting:before { content: "\e61e"; }

.icon-iconfontbiaozhunmoban01:before { content: "\e612"; }

.icon-laba:before { content: "\e6be"; }

.icon-jingyin:before { content: "\e61d"; }

.icon--astonished:before { content: "\e6e8"; }

.icon--cool:before { content: "\e6e9"; }

.icon--cool-:before { content: "\e6ea"; }

.icon--flushed:before { content: "\e6ec"; }

.icon--injury:before { content: "\e6ed"; }

.icon--sad:before { content: "\e6f1"; }


